<table>
    <tr>
        <td>
            <label>Name</label>
        </td>
        <td>
            <input type="text" name="name" value="<%= player.name %>">
        </td>
    </tr>
    <tr>
        <td>
            <label>Rank</label>
        </td>
        <td>
            <input type="text" name="rank" value="<%= player.rank %>">
        </td>
    </tr>
    <tr>
        <td>
            <label>Score</label>
        </td>
        <td>
            <input type="text" name="score" value="<%= player.score %>">
        </td>
    </tr>
    <tr>
        <td>
            <label>Time</label>
        </td>
        <td>
            <input type="text" name="time" value="<%= player.time %>">
        </td>
    </tr>
    <tr>
        <td>
            <label>Favorite Game</label>
        </td>
        <td>
            <select name="game" value="<%= player.game %>"">
    <option value=" game1">Game ONE</option>
                <option value="game2">Game TWO</option>
                <option value="game3">Game THREE</option>
                <option value="game4">Game FOUR</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>Status</label>
        </td>
        <td>
            <select name="status" value="<%= player.status %>"">
                <option value="Available">Available</option>
                <option value="Unavailable">Unavailable</option>
            </select>
        </td>
    </tr>
</table>